html {
    scroll-behavior: smooth;
    -webkit-font-smoothing: antialiased;
    user-select: none;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    scrollbar-width: thin;
}

* {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    margin-block-start: 0;
    margin-block-end: 0;

}

body {
    width: 100vw;
    height: 100vh;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    padding: 0;
    border: 0;
    outline: 0;
    margin: 0;
    font-family: "Montserrat", serif, 'Didact Gothic', "Roboto Light", Helvetica, Arial, sans-serif;
    background-color: rgb(35, 23, 85);
    color: white;
    -ms-overflow-x: hidden;
    /*overflow-y: overlay; <<No longer supported*/
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow-x: hidden;
}

.tasks {
    display: block;
}

h1 {
    margin-block-start: 2vh;
    margin-block-end: 15vh;
    font-size: calc(40px + 4vw);
    font-weight: 500;
}

h2 {
    margin: 10px;
    font-size: calc(30px + 1vw);
    font-weight: 500;
}

.button {
    height: calc(50px + 1.5vw);
    border-radius: 1.5vw;
    margin: 15px 30px;
    font-size: calc(15px + 1vw);
    font-weight: 200;
    display: flex;
    justify-content: center;
    align-items: center;
    border-style: solid;
    background-color: rgba(255, 255, 255, .1);
    border-width: 1px;
}

.button:hover {
    background-color: rgba(255, 255, 255, .2);
}

.white-fill {
    background-color: white;
    color: rgb(35, 23, 85);

}

hr {
    border: 0;
    height: .5px;
    margin: 30px 30px 25px;
    background: linear-gradient(to right, rgba(255, 255, 255, .7), rgba(255, 255, 255, 1), rgba(255, 255, 255, .7));
}

input {
    height: calc(15px + 1.5vw + 1.5vh);
    width: 80%;
    border: 1px solid rgba(255, 255, 255, .7);
    border-radius: 4px;
    background-color: transparent;
    color: white;
    outline: none;
    margin: 5px 15px 10px;
    padding: 4px 12px;
}

input::-webkit-calendar-picker-indicator:hover {
    background-color: rgba(255, 255, 255, .4);
}

input:focus {
    border: 2px solid rgba(255, 255, 255, 1);
    padding: 3px 11px;
}

label {
    margin-top: 40px;
}

.leaf-dos, .leaf-uno, .squiggle-uno {
    z-index: -1;
    position: fixed;
}

.fade-out {
    animation: fade-out ease-out .2s;
    -webkit-animation: fade-out ease-out .2s;
    -moz-animation: fade-out ease-out .2s;
    -o-animation: fade-out ease-out .2s;
}

@keyframes fade-out {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

.leaf-uno {
    top: calc(100px - 5vh);
    left: 0;
    height: calc(35vw + 20vh);
}

.leaf-dos {
    top: calc(200px + 40vw - 15vw);
    height: calc(15vw + 15vh);
    left: 0;
}

.squiggle-uno {
    right: 0;
    bottom: 0;
    height: calc(30vw + 20vh);
}

.task-item-container {
    position: absolute;
    bottom: 0;
    height: 80vh;
    overflow-y: scroll;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: left;
}

.task-item-container .task-separator:before {
    content: " ";
    display: block;
    margin-top: 14px;
    margin-bottom: 8px;
    height: 1px;
    bottom: 0;
    width: 92vw;
    /*background-color: magenta;*/
    background: linear-gradient(to right, rgba(255, 255, 255, .7), rgba(255, 255, 255, 1), rgba(255, 255, 255, .7));
}

.task-item {
    min-height: 20vh;
    width: 90%;
    max-width: 90%;
    display: flex;
    flex-direction: row;
    align-items: center;
}


.hand, .hand img {
    background-image: url("Assets/hand.svg");
    background-size: cover;
    width: calc(15vh);
    height: calc(15vh);
    position: absolute;
}

.volunteering {
    background-image: url("Assets/personWalking.svg");
}

.foodWater {
    background-image: url("Assets/shoppingBag.svg");
}

.lending {
    background-image: url("Assets/clock.svg");
}

.transport {
    background-image: url("Assets/car.svg");
}

.urgency {
    background-size: cover;
    width: calc(5vh);
    height: calc(5vh);
    position: absolute;
}

.alert0 {
    background-image: url("Assets/no alert.svg");
}

.alert1 {
    background-image: url("Assets/alert1.svg");
}

.alert2 {
    background-image: url("Assets/alert2.svg");
}

.alert3 {
    background-image: url("Assets/alert3.svg");
}

.alert4 {
    background-image: url("Assets/alert4.svg");
}

.distance-away {
    margin: 5px;
}

.horflex {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    position: absolute;
    width: calc(80vw - 15vh);
    right: 10vw;
}

.nameUsername, .desc, .urgency, .mailPhone {
    position: relative;
}

.nameUsername {
    min-width: 20vw;
    width: 20vw;
}

.desc {
    min-width: 30vw;
    width: 30vw;
}


.urgency {
    background-size: cover;
    width: calc(5vh);
    height: calc(5vh);
}

.mailPhone {
    width: 7vw;
    min-width: 7vw;
    font-weight: 200;
}

.mailPhone svg {
    width: calc(30px);
    position: relative;
    margin-bottom: -7px;
}

.mailPhone {
    line-height: calc(3vh + 20px);
}

.task-item-container::-webkit-scrollbar {
    background-color: rgba(255, 255, 255, .1);
}

.task-item-container::-webkit-scrollbar-thumb {
    background-color: rgba(255, 255, 255, .1);
}


.hamburger-icon {
    width: calc(40px);
    float: right;
    box-sizing: content-box;
    position: relative;
    z-index: 5;
    left: 0;
}

#task-filters {
    width: 100%;
    /*height: 50px;*/
    /*background-color: magenta;*/
    /*background: transparent;*/
    position: fixed;
    /*background-color: #60569b;*/
    /*display: block;*/
    top: 95px;
    left: 0;
    padding: 6px 8vw;
    z-index: 1;
}

#task-filters label {
    padding-top: 0;
    padding-right: 0.4vw;
}

.search-icon, #search_open {
    float: right;
    box-sizing: content-box;
    z-index: 1;
    right: 0;
    opacity: .8;
}

#search_open:hover {
    opacity: 1;
}

#searchbox {
    display: none;
    position: fixed;
    right: calc(10vw + 10px);
    border: none;
    top: 0;
}

#search {
    width: 200px;
    border: 0 solid rgba(255, 255, 255, .7);
    background-color: rgba(255, 255, 255, .2);
    border-radius: 20px;
    padding: 10px 20px;
    margin: 10px 15px 20px;
    height: calc(40px);
}

#currLocButton {
    height: 50px;
    width: 110%;
    left: -10%;
    position: relative;
}

select {
    -webkit-appearance: button;
    -moz-appearance: button;
    -webkit-user-select: none;
    -moz-user-select: none;
    -webkit-padding-end: 20px;
    -moz-padding-end: 20px;
    -webkit-padding-start: 2px;
    -moz-padding-start: 2px;
    background-color: rgba(255, 255, 255, .2); /* Fallback color if gradients are not supported */
    border-radius: 2px;
    border: none;
    outline: transparent;
    color: white;
    font-size: inherit;
    margin: 0;
    overflow: hidden;
    padding-top: 2px;
    padding-bottom: 2px;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.small.button {
    height: 30px;
    width: 150px;
    font-size: 15px;
}

select:active, select:hover {
    color: rgb(35, 23, 85);
}

.select-selected:after {
    position: absolute;
    content: "";
    top: 14px;
    right: 10px;
    width: 0;
    height: 0;
    border-color: #fff transparent transparent transparent;
}

.st0 {
    fill: none;
}

.st1 {
    fill: rgba(255, 255, 255, .8);
}

#hamburger {
    display: block;
    position: absolute;
    width: calc(40px);
    height: calc(40px);
    float: right;
    margin: 0 30px 0 5px;
    box-sizing: content-box;
    opacity: 0;
    z-index: 6;
}

ul {
    padding: 0;
    margin: 0;
    list-style-type: none;
}

#create, #sign-in {
    display: none;
    max-height: 100vh;
}

#profile-pic {
    width: 20vh;
    margin: 20px;
}

header {
    z-index: 4;
    width: 100vw;
    top: 0;
    height: 100px;
    float: right;
    position: fixed;
    background: transparent;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 15px calc(20px + 5vw);
}

nav {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-inline-flexbox;
    display: -webkit-inline-flex;
    display: inline-flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
    float: right;
}

a {
    text-decoration: none;
    color: white;
}

nav a {
    padding: 20px;
    text-align: right;
    margin: 10px;
    position: relative;
    transition: 0.15s ease-out;
    z-index: 5;
    z-index: 5;
}

nav a:after {
    content: '';
    position: absolute;
    width: 0;
    top: 10%;
    right: 50%;
    background: rgba(255, 255, 255, 0.26);
    border-radius: 2px;
    transition: all .25s ease-out;
    height: 80%;
    bottom: 10%;
}

nav a:hover:after {
    right: 0;
    background: rgba(255, 255, 255, 0.26);
    width: 100%;
}


.hamburger-menu {
    background-color: rgb(35, 23, 85);
    height: 100vh;
    width: 100vw;
    left: 0;
    top: -100vh;
    position: absolute;
    transition: .5s ease-out;
    z-index: 4;
}

h3, p, h4 {
    font-weight: 300;
}

h3 {
    font-size: calc(17px + 1vw);
    margin: 5px;
}

h4 {
    font-size: calc(18px + 1vw);
    font-weight: 200;
    line-height: 40px;
}

#stars {
    width: 10px;
    height: 20px;
    position: absolute;
    left: 0;
    top: -50vh;
    border-radius: 50%;
    background: transparent;
    box-shadow: 231px 179px rgba(255, 255, 255, 0.26), 335px 1164px rgba(255, 255, 255, 0.26), 1380px 35px rgba(255, 255, 255, 0.26), 291px 1796px rgba(255, 255, 255, 0.26), 819px 551px rgba(255, 255, 255, 0.26), 855px 673px rgba(255, 255, 255, 0.26), 1611px 924px rgba(255, 255, 255, 0.26), 859px 65px rgba(255, 255, 255, 0.26), 1875px 137px rgba(255, 255, 255, 0.26), 185px 1007px rgba(255, 255, 255, 0.26), 806px 1500px rgba(255, 255, 255, 0.26), 102px 1884px rgba(255, 255, 255, 0.26), 1556px 1301px rgba(255, 255, 255, 0.26), 715px 1415px rgba(255, 255, 255, 0.26), 610px 418px rgba(255, 255, 255, 0.26), 456px 1029px rgba(255, 255, 255, 0.26), 1051px 1461px rgba(255, 255, 255, 0.26), 1024px 1306px rgba(255, 255, 255, 0.26), 1296px 200px rgba(255, 255, 255, 0.26), 65px 80px rgba(255, 255, 255, 0.26), 293px 1876px rgba(255, 255, 255, 0.26), 1088px 375px rgba(255, 255, 255, 0.26), 271px 1789px rgba(255, 255, 255, 0.26), 1715px 851px rgba(255, 255, 255, 0.26), 1918px 1776px rgba(255, 255, 255, 0.26), 877px 1209px rgba(255, 255, 255, 0.26), 290px 1025px rgba(255, 255, 255, 0.26), 367px 918px rgba(255, 255, 255, 0.26), 1695px 1990px rgba(255, 255, 255, 0.26), 1704px 681px rgba(255, 255, 255, 0.26), 1367px 1886px rgba(255, 255, 255, 0.26), 1437px 1585px rgba(255, 255, 255, 0.26), 349px 1260px rgba(255, 255, 255, 0.26), 541px 499px rgba(255, 255, 255, 0.26), 1364px 296px rgba(255, 255, 255, 0.26), 894px 1716px rgba(255, 255, 255, 0.26), 763px 1202px rgba(255, 255, 255, 0.26), 488px 1354px rgba(255, 255, 255, 0.26), 1558px 33px rgba(255, 255, 255, 0.26), 1969px 1944px rgba(255, 255, 255, 0.26), 6px 161px rgba(255, 255, 255, 0.26), 1440px 367px rgba(255, 255, 255, 0.26), 1234px 926px rgba(255, 255, 255, 0.26), 1689px 19px rgba(255, 255, 255, 0.26), 1396px 661px rgba(255, 255, 255, 0.26), 1844px 63px rgba(255, 255, 255, 0.26), 1795px 1363px rgba(255, 255, 255, 0.26), 1901px 424px rgba(255, 255, 255, 0.26), 1292px 242px rgba(255, 255, 255, 0.26), 1900px 1148px rgba(255, 255, 255, 0.26), 1659px 1696px rgba(255, 255, 255, 0.26), 1931px 1543px rgba(255, 255, 255, 0.26), 821px 315px rgba(255, 255, 255, 0.26), 693px 1844px rgba(255, 255, 255, 0.26), 898px 781px rgba(255, 255, 255, 0.26), 409px 1938px rgba(255, 255, 255, 0.26), 221px 1966px rgba(255, 255, 255, 0.26), 815px 1490px rgba(255, 255, 255, 0.26), 1797px 549px rgba(255, 255, 255, 0.26), 1683px 605px rgba(255, 255, 255, 0.26), 1603px 289px rgba(255, 255, 255, 0.26), 23px 1284px rgba(255, 255, 255, 0.26), 1637px 384px rgba(255, 255, 255, 0.26), 1078px 1207px rgba(255, 255, 255, 0.26), 23px 1489px rgba(255, 255, 255, 0.26), 1377px 1271px rgba(255, 255, 255, 0.26), 1454px 479px rgba(255, 255, 255, 0.26), 1934px 1510px rgba(255, 255, 255, 0.26), 1409px 1919px rgba(255, 255, 255, 0.26), 508px 1015px rgba(255, 255, 255, 0.26), 363px 1290px rgba(255, 255, 255, 0.26), 1604px 1940px rgba(255, 255, 255, 0.26), 1999px 147px rgba(255, 255, 255, 0.26), 1916px 1406px rgba(255, 255, 255, 0.26), 961px 1745px rgba(255, 255, 255, 0.26), 1108px 1453px rgba(255, 255, 255, 0.26), 24px 1397px rgba(255, 255, 255, 0.26), 879px 1321px rgba(255, 255, 255, 0.26), 82px 1586px rgba(255, 255, 255, 0.26), 1913px 1974px rgba(255, 255, 255, 0.26), 5px 889px rgba(255, 255, 255, 0.26), 718px 1144px rgba(255, 255, 255, 0.26), 1750px 90px rgba(255, 255, 255, 0.26), 534px 1166px rgba(255, 255, 255, 0.26), 1493px 1776px rgba(255, 255, 255, 0.26), 1070px 603px rgba(255, 255, 255, 0.26), 1112px 282px rgba(255, 255, 255, 0.26), 1863px 1989px rgba(255, 255, 255, 0.26), 106px 1389px rgba(255, 255, 255, 0.26), 1251px 885px rgba(255, 255, 255, 0.26), 1850px 995px rgba(255, 255, 255, 0.26), 509px 921px rgba(255, 255, 255, 0.26), 1429px 1585px rgba(255, 255, 255, 0.26), 1366px 251px rgba(255, 255, 255, 0.26), 998px 373px rgba(255, 255, 255, 0.26), 1281px 1033px rgba(255, 255, 255, 0.26), 1881px 749px rgba(255, 255, 255, 0.26), 52px 1972px rgba(255, 255, 255, 0.26), 1820px 1152px rgba(255, 255, 255, 0.26), 1839px 1363px rgba(255, 255, 255, 0.26);
    animation: floaty 100s linear infinite;
}

#stars2 {
    width: 15px;
    height: 30px;
    position: absolute;
    left: 0;
    border-radius: 50%;
    background: transparent;
    box-shadow: 1387px 622px rgba(255, 255, 255, 0.26), 598px 887px rgba(255, 255, 255, 0.26), 1118px 1446px rgba(255, 255, 255, 0.26), 491px 11px rgba(255, 255, 255, 0.26), 1285px 431px rgba(255, 255, 255, 0.26), 417px 1518px rgba(255, 255, 255, 0.26), 195px 1309px rgba(255, 255, 255, 0.26), 41px 574px rgba(255, 255, 255, 0.26), 521px 1624px rgba(255, 255, 255, 0.26), 1947px 859px rgba(255, 255, 255, 0.26), 834px 1057px rgba(255, 255, 255, 0.26), 1508px 560px rgba(255, 255, 255, 0.26), 1732px 458px rgba(255, 255, 255, 0.26), 1657px 1228px rgba(255, 255, 255, 0.26), 196px 1881px rgba(255, 255, 255, 0.26), 1751px 843px rgba(255, 255, 255, 0.26), 310px 1957px rgba(255, 255, 255, 0.26), 1192px 772px rgba(255, 255, 255, 0.26), 1808px 86px rgba(255, 255, 255, 0.26), 1934px 1034px rgba(255, 255, 255, 0.26), 486px 1335px rgba(255, 255, 255, 0.26), 1353px 1477px rgba(255, 255, 255, 0.26), 936px 1045px rgba(255, 255, 255, 0.26), 169px 1756px rgba(255, 255, 255, 0.26), 537px 1450px rgba(255, 255, 255, 0.26), 483px 567px rgba(255, 255, 255, 0.26), 1554px 111px rgba(255, 255, 255, 0.26), 900px 1081px rgba(255, 255, 255, 0.26), 189px 845px rgba(255, 255, 255, 0.26), 505px 1092px rgba(255, 255, 255, 0.26), 944px 986px rgba(255, 255, 255, 0.26), 578px 1591px rgba(255, 255, 255, 0.26), 1765px 336px rgba(255, 255, 255, 0.26), 880px 44px rgba(255, 255, 255, 0.26), 252px 79px rgba(255, 255, 255, 0.26), 438px 1933px rgba(255, 255, 255, 0.26), 842px 1444px rgba(255, 255, 255, 0.26), 485px 1148px rgba(255, 255, 255, 0.26), 1664px 727px rgba(255, 255, 255, 0.26), 1794px 1102px rgba(255, 255, 255, 0.26), 1463px 616px rgba(255, 255, 255, 0.26), 578px 444px rgba(255, 255, 255, 0.26), 1880px 778px rgba(255, 255, 255, 0.26), 1285px 1758px rgba(255, 255, 255, 0.26), 1584px 911px rgba(255, 255, 255, 0.26), 183px 684px rgba(255, 255, 255, 0.26), 569px 547px rgba(255, 255, 255, 0.26), 1954px 1867px rgba(255, 255, 255, 0.26), 767px 450px rgba(255, 255, 255, 0.26), 1378px 954px rgba(255, 255, 255, 0.26), 740px 632px rgba(255, 255, 255, 0.26), 767px 1954px rgba(255, 255, 255, 0.26), 1162px 1296px rgba(255, 255, 255, 0.26), 685px 1538px rgba(255, 255, 255, 0.26), 1255px 845px rgba(255, 255, 255, 0.26), 99px 635px rgba(255, 255, 255, 0.26), 1995px 106px rgba(255, 255, 255, 0.26), 405px 1847px rgba(255, 255, 255, 0.26), 573px 1391px rgba(255, 255, 255, 0.26), 1141px 1922px rgba(255, 255, 255, 0.26), 677px 594px rgba(255, 255, 255, 0.26), 1319px 1911px rgba(255, 255, 255, 0.26), 621px 756px rgba(255, 255, 255, 0.26), 1984px 1400px rgba(255, 255, 255, 0.26), 1508px 1846px rgba(255, 255, 255, 0.26), 1675px 229px rgba(255, 255, 255, 0.26), 1727px 1373px rgba(255, 255, 255, 0.26), 76px 344px rgba(255, 255, 255, 0.26), 898px 1284px rgba(255, 255, 255, 0.26), 1449px 1527px rgba(255, 255, 255, 0.26), 1262px 1206px rgba(255, 255, 255, 0.26), 26px 1850px rgba(255, 255, 255, 0.26), 1059px 311px rgba(255, 255, 255, 0.26), 244px 1262px rgba(255, 255, 255, 0.26), 452px 2px rgba(255, 255, 255, 0.26), 1279px 1914px rgba(255, 255, 255, 0.26), 483px 366px rgba(255, 255, 255, 0.26), 987px 1607px rgba(255, 255, 255, 0.26), 1544px 275px rgba(255, 255, 255, 0.26), 914px 387px rgba(255, 255, 255, 0.26), 919px 498px rgba(255, 255, 255, 0.26), 817px 998px rgba(255, 255, 255, 0.26), 1324px 181px rgba(255, 255, 255, 0.26), 419px 884px rgba(255, 255, 255, 0.26), 1847px 1436px rgba(255, 255, 255, 0.26), 1056px 1255px rgba(255, 255, 255, 0.26), 1802px 1582px rgba(255, 255, 255, 0.26), 448px 320px rgba(255, 255, 255, 0.26), 1473px 1591px rgba(255, 255, 255, 0.26), 218px 1122px rgba(255, 255, 255, 0.26), 838px 879px rgba(255, 255, 255, 0.26), 1421px 629px rgba(255, 255, 255, 0.26), 694px 568px rgba(255, 255, 255, 0.26), 1103px 239px rgba(255, 255, 255, 0.26), 198px 506px rgba(255, 255, 255, 0.26), 952px 908px rgba(255, 255, 255, 0.26), 1510px 1498px rgba(255, 255, 255, 0.26), 430px 1911px rgba(255, 255, 255, 0.26), 1271px 1471px rgba(255, 255, 255, 0.26), 507px 1686px rgba(255, 255, 255, 0.26), 1593px 232px rgba(255, 255, 255, 0.26), 1391px 1249px rgba(255, 255, 255, 0.26), 826px 478px rgba(255, 255, 255, 0.26);
    animation: floaty 150s linear infinite;
}


@keyframes floaty {
    from {
        transform: translateY(0px);
    }
    to {
        transform: translateY(-2000px);
    }
}

.invalidField {
    color: #cb5757;
}

#taskform {
    opacity: 1;
    padding: 35px;
    background-color: #60569b;
    display: none;
    z-index: 4;
    position: fixed;
    border-radius: 25px;
    width: calc(80vw - 20px);
    left: calc(10px + 10vw);
    top: 12.25vh;
    height: 75vh;
}

.rotate135 {
    transform: rotate(135deg);
}

#addtask, #editprofile, #submitprofile {
    right: 30px;
    bottom: 30px;
    z-index: 2;
    position: absolute;
    width: 80px;
    height: 80px;
    transition: .2s ease-out;
}

#editprofile, #submitprofile {
    width: 60px;
    height: 60px;
    right: 40px;
    bottom: 40px;
}

nav {
    transition: .5s ease-out;
    font-size: larger;
    top: -100vh;
    position: absolute;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-inline-flexbox;
    display: -webkit-inline-flex;
    display: inline-flex;
    flex-direction: column;
    float: left;
    left: calc(50%);
}

nav a {
    left: -50%;
}

#hamburger:checked ~ nav {
    top: 60px;
}

#hamburger:checked ~ .hamburger-menu {
    top: 0;
}

#edit {
    display: none;
}

::placeholder {
    color: white;
    opacity: .4;
}
